@using CSharpFunctionalExtensions
@using Microsoft.AspNetCore.Html
@using XperienceCommunity.Sandbox.Web.Features.Home.Components

@model Result<HomePageViewModel>

@{
    if (Model.IsFailure)
    {
        <vc:missing-content result="Model" />

        return;
    }

    var home = Model.Value;
}

<h1>@home.Title</h1>

@home.BodyHTML.Unwrap(HtmlString.Empty)

@if (home.ImagePath.HasValue)
{
    <img src="@home.ImagePath.Value" alt="@home.Title" />
}