<!DOCTYPE html>
<html lang="en">
<head id="head">
    @RenderSection("styles", required: false)
</head>
<body class="main">
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
